{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "quotes": "single",
    "ecmaFeatures": { "jsx": true },
    "plugins": ["react"],
    "extends": ["eslint:recommended", "plugin:react/recommended"]
  }
}
